{% extends 'base.html' %}
{% block content %}
<main role="main" class="mt-3 flex-shrink-0">
    <form method="POST">
        {% csrf_token %}
        <div style="margin:200px">
            <p>
                <label>Введите имя</label><br>
                <input type="text" name="name" value="{{snippet.name}}"/>
            </p>
            <p>
                <label>Введите язык </label><br>
                <input type="text" name="lang" value="{{snippet.lang}}"/>
            </p>
            <p>
                <label>Введите code</label><br>
                <input type="text" name="code" value="{{snippet.code}}"/>
            </p>
            <input type="submit" class="btn btn-primary " value="Сохранить">
        </div>
    </form>
</main>
{% endblock %}