
{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
        <form method="post" action="{% url 'snippet-edit' snippet.id %}">
            {% csrf_token %}
            <fieldset  {% if not edit %} disabled {% endif %}>
                <div class="row disabled">
                    <div class="col col-8">
                        {% if not edit %}
                        Название: <input type="text" value={{ snippet.name }} class="form-control">
                        {% else %}
                        <label>Введите имя: </label><br>
                        <input type="text" name="name" value="{{snippet.name}}"/>
                        {% endif %}
                    </div>
                    <div class="col col-4">
                        Дата создания:<input disabled type="text" value="{{ snippet.creation_date }}"
                                             class="form-control">
                    </div>
                     <div name="public" class="col-2">
                    Публичный: {{ form.public }}
                     </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">

                        {% if not edit %}
                        <div class="p-2 h-100" style="border:1px solid #ced4da; color:#20af20; border-radius:5px;">
                            <p style="background-color: #333">
                                {{ snippet.code | replace | safe }}
                            </p>
                            {% if request.user == snippet.user %}
                        <a href="{% url 'snippet-edit' snippet.id %}"> <i style="color: green" class="far fa-edit"></i></a>
                        <a href="{% url 'snippet-delete' snippet.id %}"> <i style="color: #c31212 "
                                                                            class="fas fa-trash"></i></a>
                        {% endif %}
                            {% else %}
                            Code:<br>
                            <textarea  cols="100%" rows="7" name="code">
                        {{ snippet.code }}
                    </textarea><br>
                    <button type="submit">Сохранить</button>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
        <div class="container">
                <div style=" display: inline-grid;  justify-items: center; ">
                    <p style="margin-top:10px">Комментарии:</p>

                    {% for comment in snippet.comments.all %}
                    <div class="comment" style=" width:100%; background:linear-gradient(to top, #d3e9ff, #59a8fd); padding-bottom:10px ">
                        <div> {{comment.author.username}}  </div>
                        <div class="create_date" style="padding-bottom:10px">{{ comment.creation_date }}</div>
                        <div class="comment_text" > <img width="40px" height="40px"  src="{{ MEDIA_URL }}{{ comment.image }}" onerror="this.style.display='none'" > {{comment.text}}
                    {% if request.user == comment.author %}

                        <a href="{% url 'comment_delete' comment.id %}"> <i style="color: #c31212" class="fas fa-trash"></i></a>
                        </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
        </div>
            {% if request.user.is_authenticated %}
        <div class="container">
            <form style="margin-top:20px" method="post" action="{% url 'comment_add' %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
                <table>
                     {{ form_comment.as_table }}
                </table>
                {% if not edit %}
                <button type="submit">
                    Отправить
                </button>
                {% endif %}
            </form></div>
        {% endif %}
    </div>
</main>
{% endblock %}
