{% extends 'base.html' %}
{% load my_tags %}
{% block styles %}
<style>
    .fa-ban {
        color: red;
    }

</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>На данной страницы отображатся все сниппеты.</p>
            <hr>
        </div>
    </div>
    <form action="{% url 'lang_filter' %}" id="view_snippet_form" method="post">
        {% csrf_token %}

        <label class="col">Язык программирования:
            <select style="width:100px" name="lang_filter" required="" id="id_lang">
                <option value="" selected="">---------</option>
                <option value="py">py</option>
                <option value="js">js</option>
                <option value="cpp">cpp</option>

            </select>
            <input type="submit" value="Применить фильтр"></label>
    </form>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Язык</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Создатель</th>
                </tr>
                </thead>
                <tbody>

                {% for snippet in snippets %}
                <tr>
                    <td scope="row">{{ snippet.id }}</td>
                    <td>
                        <a href="{% url 'snippet-page' snippet.id %}">{{ snippet.name }}</a>
                        {% if request.user == snippet.user %}
                        <a href="{% url 'snippet-edit' snippet.id %}"> <i style="color: green" class="far fa-edit"></i></a>
                        <a href="{% url 'snippet-delete' snippet.id %}"> <i style="color: #c31212 "
                                                                            class="fas fa-trash"></i></a>
                        {% endif %}
                    </td>
                    <td>{{ snippet.lang }}</td>
                    <td>{{ snippet.creation_date }}</td>
                    <td>{{ snippet.user | default:"Отсутствует"}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов: {{counter}}</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}
